body{
    background-image: url(output-onlinepngtools.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(207, 231, 231,0.1);
}
.header{
    display:inline-flex;
    background-color: rgb(207, 231, 231);
}
.logo{
    margin-left:2%;
    width: fit-content;
}
.head{
    margin-top:2%;
    padding-inline:2%;
    font-size:xx-large;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}
.subhead{
    font-size:x-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar{
    position:relative;
    margin-top:0%;
    background-color:rgb(58, 111, 225);
}
.navbar li{
    list-style: none;
    display: inline;
    margin-right:10%;
}
#home,#liclubs,#newup{
    background-color: rgb(58, 111, 225);
    border-style: hidden;
    text-decoration: solid white;
    font-size:x-large;
}

#home:hover,#liclubs:hover,#newup:hover{
    color:white;
}
.about{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(2, 2, 45);
    font-weight: bold;
}
.que{
    font-size:x-large;
    color:rgb(29, 3, 81);
    text-decoration: underline;
}
.clubs{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(42, 5, 5);
    font-weight: bold;
}
.panmehead{
    width:100%;
    
}
.cname{
    text-decoration: none;
    text-align: center;
    color: white;
}
.cbtn{
    margin-left:2%;
    margin-right:70%;
   
    background-color: rgb(36, 10, 231);
    
}
.opt{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(4, 73, 202);
}


.sepg{
    padding:2%;
}

.cbtn{
    padding-inline:5%;
}


